<div class="contact-page">
    <div class="contact-box1">
    <!-- THÔNG TIN BỆNH VIỆN -->
    <div class="contact-info card">
      <h2>BỆNH VIỆN ĐA KHOA HÒA BÌNH – TP. HẢI DƯƠNG</h2>
      <hr />
      <ul>
        <li><i class="fa fa-map-marker-alt"></i> <strong>Địa chỉ:</strong> Phạm Xuân Huân, P. Hải Tân, TP. Hải Dương</li>
        <li><i class="fa fa-envelope"></i> <strong>Email:</strong> bvhoabinh.cskh&#64;gmail.com</li>
        <li><i class="fa fa-phone"></i> <strong>Điện thoại:</strong> 0976.091.115</li>
      </ul>
    </div>

    <div class="map-container">
    <!-- GOOGLE MAP -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.294086567445!2d106.3376648!3d20.9305361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31359b3150abd3ff%3A0x8ef8d3d378c7a56b!2zQsOqbmggVmnhu4d0IMSQYSBLaG9hIEjDoCBCw61uaCAtIEjDoCBExrDGoW5n!5e0!3m2!1svi!2s!4v1714036032703!5m2!1svi!2s"
      width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
    ></iframe>
    </div>
    
    </div>
    <div class="contact-box2">
    <!-- LIÊN HỆ -->
    <div class="contact-support card">
      <h3>LIÊN HỆ</h3>
      <hr />
      <p><i class="fa fa-headset"></i> <strong>CSKH:</strong> 0976-091-115</p>
    </div>

    <!-- ĐĂNG KÝ TƯ VẤN -->
    <div class="contact-form card">
      <h3>ĐĂNG KÍ NHẬN ƯU ĐÃI</h3>
      <form>
        <label for="name">Nhập họ và tên của bạn:</label>
        <input type="text" id="name" placeholder="VD: Trần Văn A" required />

        <label for="phone">Nhập số điện thoại:</label>
        <input type="text" id="phone" placeholder="VD: 0123456789" required />

        <label for="specialty">Chọn chuyên khoa:</label>
        <select id="specialty">
          <option disabled selected></option>
          <option>Nội tổng hợp</option>
          <option>Tai mũi họng</option>
          <option>Sản khoa</option>
        </select>
        <button type="submit">ĐĂNG KÍ NGAY</button>
      </form>
    </div>
  </div>
</div>
